<mat-toolbar color="primary">
    <div class="container-flex">
        <div>
            <a routerLink="/">Contacts</a>
        </div>
        <div class="flex-grow">&nbsp;</div>
        <div>

            <ul class="buttons-auth">
            <ng-container *ngIf="isUserAuthenticated">
                <li>
                    <a mat-button routerLink="/create" routerLinkActive="mat-accent">Add Contact</a>
                </li>
        
                
                <li>
                    <button mat-button (click)="logout()" routerLinkActive="mat-accent">Logout</button>
                </li>
            </ng-container>
            
            <ng-container *ngIf="!isUserAuthenticated">            
                <li>
                    <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
                </li>
        
                <li>
                    <a mat-button routerLink="/auth/sign-up" routerLinkActive="mat-accent">Sign Up</a>
                </li>
            </ng-container>
        </ul>
        </div>
    </div>
</mat-toolbar>

<div class="info-text">
    Please click on the contact to expand contact details, login with the same user who created the contact for edit and delete functionality.
    <p><strong>Topics Covered</strong></p>
    <ol>
      <li>MEAN stack</li>
      <li>Authentication and Autherization using jwt token</li>
      <li>Auto logout after 1 Hour</li>
      <li>Stay logged in even after refresh</li>
      <li>Google Drive API for Image upload</li>
    </ol>
  </div>