ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

a{
    text-decoration: none;
    color: white;
}

spacer{
    flex: 1 1 auto
}

/* .buttons-auth{
    margin-left: 54rem;
} */

.container-flex{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.flex-grow{
    flex-grow:1;
}

.info-text{
    margin-bottom: 1rem;
    font-style: italic;
    margin-left: 22px;
}