mat-expansion-panel, .no-data{
    margin: 0px 4%;
}

mat-spinner{
    margin: auto;
}

.image-preview {
    width: 100%;
}

.image-preview img{
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

mat-paginator{
    margin-top: 1rem;
}